<div style="background-color: rgb(233, 220, 220); text-align: center; font-family: serif; justify-content: end;">
   <strong><h1 style="font-weight: 200; color: black;">Recipe Book</h1></strong>
   <p style="font-size: 1.3em; font-weight: 150;">A place where you can submit all your special recipies and share with others.</p> 
   <h4>Contact Us</h4>
 <p style="display: inline;">  email - agarwaly482@gmail.com</p>
   <p><h3>Copy Right   "Recipe Book" </h3></strong> ALL RIGHTS RESERVED </p>
   DESIGNED BY <strong><h3>YASH BANSAL</h3>
   </h3></strong>

</div>


</body>
</html>