<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheets/data.css">
<link rel="stylesheet" href="/stylesheets/login.css">
<%- include("partials/navbar") %>
<div id="particles-js"></div>
<div class="container" id="log">
<h1>Sign Up..</h1><br>
<form action="/register" method="POST">
    <h3>Username</h3>
    <input type="text" class="info" name="username" placeholder="username"><br><br>
    <h3>Password</h3>
    <input type="password" class="info" name="password" placeholder="password"><br><br>
    <button class="btn btn-md btn-primary">Submit</button>
</form>

</div>
<script type="text/javascript" src="/javascripts/particles.js"></script>
<script src="/javascripts/main.js"></script>
<%- include("partials/footer") %>