/* ---- reset ---- */

body {
  background-color:#71b419;
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.content{
  position: fixed;
  top:0;
  width:100vw;
  max-width:100%;
  height:100vh;
  background-color: rgba(0,0,0,0);
  z-index:10;
  color:red;
  overflow-y: scroll !important;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  z-index: -1;
  top:0;
  width: 100vw;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,54,54,0.9948354341736695) 0%, rgba(23,69,58,0.9920343137254902) 10%, rgba(65,135,124,0.9948354341736695) 20%, rgba(52,135,119,1) 32%, rgba(56,153,130,1) 42%, rgba(69,170,145,0.9864320728291317) 49%, rgba(67,163,140,1) 57%, rgba(46,130,111,1) 67%, rgba(49,131,115,0.9864320728291317) 80%, rgba(32,83,77,0.9976365546218487) 90%, rgba(28,77,77,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

/*.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}*/
/*
#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}*/